.finishDay {
	width: 100%;
	margin: .5rem 0;
}

.ticket {
    display: block;
    position: relative;
    width: 100%;
    border: 1px solid black;
    margin: .25rem 0;
    padding: .25rem;
    color: white;
}

.ticket label {
	color: white;
	position: absolute;
	right: 10px;
	top: 4px;
}
.container {
	padding: .45rem;
	box-shadow: inset 1px 1px 1px 1px black;
	height:200px;
	overflow: auto;
}
.ticketDescription {
	width: 80%;
	height: 20px;
	display: block;
	color: white;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}