.progress {
	margin: .5rem 0;
	height:20px;
	background-color: #999;
	border-radius: 20px;
	border: 3px solid hsl(0, 0%, 40%);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	position: relative;
	box-sizing: content-box;
}
.progress label {
	position: absolute;
	width: 100%;
	text-align: center;
    color: hsl(0, 0%, 100%);
	background-color: hsla(0, 0%, 0%, 0.25);
	border-radius: 20px;
	display: block;
	cursor:pointer;
}
.progress span {
	display: inline-block;
	height: 20px;
	margin:0;
	border-right:1px solid hsl(0, 0%, 85%);
}