.listItem {
	margin: .5rem;
	padding: .25rem;
	box-shadow: 1px 1px 1px 1px black;
    position: relative;
    cursor:pointer;
    background-color: hsl(0, 0%, 90%);
    border: 1px solid hsl(0, 0%, 40%);
}
.listItem label {
	background-color: hsl(0, 0%, 40%);
	border-radius: 10px;
	margin-right: .5rem;
	text-align: center;
	padding: .1rem .75rem;
	text-shadow: 1px 1px black;
	color: white;
}
.ticketDescription {
	width: 72%;
	height: 20px;
	display: block;
	color: hsl(0, 0%, 20%);
	font-weight:bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.pushRight {
	position: absolute;
	right: 10px;
	top: 4px;
}
.pushRight svg {
	cursor: pointer;
}
.pushRight path {
	color: black!important;
}
.menu {
	background-color: white;
	box-shadow: 1px 1px 1px 1px black;
	padding-left: 0;
	width: auto;
	position: absolute;
	z-index: 100;
}
.menu li {
	list-style-type: none;
	padding: .25rem .5rem;
	cursor: pointer;
}
.menu li:hover {
	background-color: hsl(0, 0%, 90%);
}
