* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--text-color);
}

a {
  color: var(--link-color);
  font-family: sans-serif;
}

body {
  margin-right: 1rem;
  padding: 1rem;
  padding-top: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body.light {
  --text-color: #666;
  --link-color: hsl(0, 0%, 20%);
  --title-color: #091E42;
  --list-bg-color: hsl(0, 0%, 30%);
  background-color: hsl(0, 0%, 95%);
}

body.dark {
  --text-color: #ddd;
  --link-color: #8ab4f8;
  --title-color: #fff;
  --list-bg-color: #333;
  background-color: #1e1e1e;
}

h1 {
  padding: .5rem 0;
  font-family: "helvetica";
  border-left: 4px solid #73A0E3;
  padding-left: .3rem;
  color: var(--title-color);
}

.inlineButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.listContainer {
  background-color: var(--list-bg-color);
  width: 100%;
  height: 272px;
  overflow: auto;
  padding: 0;
  margin: 0;
  box-shadow: inset 1px 1px 1px 1px black;
}

.progress {
}
