doctype html

html
  head
    meta(charset='UTF-8')
    title Redux TodoMVC Example (Popup)
    style.
      * { box-sizing: border-box; color: hsl(0, 0%, 20%) }
      body { background-color: hsl(0, 0%, 50%) }
      input { display: block; width: 100%; padding: 1rem; }
      label { font-weight: bold; font-size: 14px; padding: .25rem }
      p { margin: 0; padding: .25rem;}
      h1, h2 { text-align: center; margin: .1rem 0; color: hsl(0, 0%, 40%)!important}
      .container {
        width: 25%;
        margin: auto;
        background-color: hsl(0, 0%, 95%);
        padding: 1rem;
        border: 5px solid hsl(0, 0%, 40%);
      }
      button { 
        margin: .25rem auto;
        padding: 1rem;
        width: 100%;
      }
      #status { color: red; }
      .error { color: red; display:none; }
      .inputError { border: 1px solid red }
      .inputSuccess { border: 1px solid green }
      .welcomeText {
        display: none;
        padding: .25rem;
        background-color: hsl(203, 40%, 67%);
        border: 3px solid hsl(0, 0%, 40%);
        margin: .5rem 0;
        font-size: 16px;
      }
  body
    div.container
      h1 TimeTracker Options
      div.welcomeText
        h2 Welcome to TimeTracker.
        p Please take your time to configure your experience as necessary. Once you submit this form you will gain access to the TimeTracker extension.
      div
        label(name="corsEverywhere") Cors Everywhere proxy URL
        span.corsEverywhere.error
        input#corsEverywhere
        p The nature of this extension requires a proxy to bypass CORS security. To host your own Cors Everywhere proxy see 
          a(href="https://github.com/Rob--W/cors-anywhere/" target="_blank") this link.
          |  To read more about the CORS protocol click 
          a(href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS" target="_blank") here.
      div
        label(name="username") Username
        span.username.error
        input#username
        p Use your atlassian email address. 
      div
        label(name="accessCode") Access Code
        span.accessCode.error
        input#accessCode
        p Your Access Code can be retrieved by following this 
            a(href="https://id.atlassian.com/manage/api-tokens?_ga=2.150752565.2041354013.1543608755-747499131.1542193543" target="_blank") link.
      div
        label(name="baseURL") Base URL
        span.baseURL.error
        div
          input#baseURL
      div
        label(name="meetingTicketNo") Meeting Ticket ID
        span.meetingTicketNo.error
        input(id="meetingTicketNo")
      div
        label(name="dayLength") Day Length
        span.dayLength.error
        input#dayLength
        p Follow Tempo formatting (XXh XXm XXs)
      button#save Submit
      button#restore Restore Default values
      button#revert Revert to last saved
      p#status
  script(src="jquery-3.3.1.min.js")
  script(src="options.js")

